{{#> layouts/default}}

{{#*inline "scripts-block"}}
<script src="/js/dashboard.js" type="module" defer></script>
{{/inline}}

{{#*inline "content-block"}}
<div class="dboard container p-4">
  <div class="row">
    <div class="col">
      <h1 class="display-3">Panel</h1>
      <p class="dboard__greeting">Bienvenido <span class="user">{{user}}</span>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col">
      <div class="card">
        <div class="card-header d-flex">
          <h5 class="card-title m-auto ms-1 col-auto">Estado</h5>
          {{!-- <div class="col-auto m-auto me-1">
            <button class="btn btn-primary">Actualizar</button>
          </div> --}}
        </div>
        <div class="card-body">
          <div class="state container-fluid">
            <div class="row state__row">
              <div class="col-6 state__title">Ventas:</div>
              <div class="col-6 text-end state__value" id="saleStateDisplay">Habilitadas</div>
            </div>
            <div class="row state__row">
              <div class="col-6 state__title">Salsas:</div>
              <div class="col-6 state__list" id="sauceList"></div>
            </div>
            <div class="row state__row">
              <div class="col-6 state__title">Productos:</div>
              <div class="col-6 state__list" id="mealList"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/inline}}

{{/layouts/default}}